{% extends 'base.html' %}



{% block title %}Pokédex{% endblock %}

{% block header %}
<h1 class="pokemon-title">Pokédex</h1>
{% endblock %}

{% block content %}
<main>
  <img src="#" alt="pokemon" class="pokemon__image">

  <h1 class="pokemon__data">
    <span class="pokemon__number">  </span>
    <span class="pokemon__name"></span>
  </h1>

  <form class="form">
    <input
      type="search"
      class="input__search"
      placeholder="Nome ou número do Pokémon"
      required
    />
  </form>

  <div class="buttons">
    <button class="button btn-prev">Voltar &lt;</button>
    <button class="button btn-next">Avançar &gt;</button>
    <button onclick="window.location.href='/pokemon/details/' + searchPokemon" class="button btn-details">Detalhes</button>
  </div>

  <img src="{{ url_for('static', filename='img/pokedex.png') }}" alt="pokedex" class="pokedex">
</main>
{% endblock %}
